.pending {
    -webkit-animation: flicker 2s infinite;
  }
  
  @-webkit-keyframes flicker
  {
  0% {opacity:0.3;}
  20% {opacity:0.3;}
  40% {opacity:.7;}
  60% {opacity:1;}
  80% {opacity:0.7;}
  100% {opacity:0.3;}
  }