
.pending {
    -webkit-animation: pending 2s infinite;
}

@-webkit-keyframes pending
{
0% {opacity:0.3;}
20% {opacity:0.3;}
40% {opacity:.7;}
60% {opacity:1;}
80% {opacity:0.7;}
100% {opacity:0.3;}
}

.wallet_link {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

.wallet_link:hover {
    text-decoration:none;
    text-shadow: 1px 1px 1px #555;
}

table {
    table-layout: fixed;
    width: 50%;
    word-wrap: break-word;
}

td {
    word-wrap: break-word;
    white-space: pre-wrap;
}